html {
    font-size: 14px;
    background-color: lightblue;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


h1 {
    font-size: 60px;
    text-align: center;
    color: #FF5D00;
}

.container {
    background-color: #4F423E;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 55%;
    border-radius: 70px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

    .inputs input {
        width: 250px;
        height: 40px;
        border-radius: 10px;
        font-size: 30px;
    }

li {
    list-style: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

    .buttons li input {
        position: relative;
        margin-top: 120px;
        height: 70px;
        width: 70px;
        font-size: 30px;
        border-block-width: 3px;
        border-radius: 5px;
        background-color: #978981;
        border-color: white;
        color: white;
    }

        .buttons li input:hover {
            background-color: #FF5D00;
            color: black;
            border-color: black;
        }

.result p {
    display: flex;
    padding: 10px;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 50px;
    color: white;
}
