﻿@{
    Layout = null;
}

<body>
    <h1>Дні тижня</h1>
   <ul>
        @foreach(var item in ViewBag.Days.days)
        {
            <li><p>@item</p></li>
        }
    </ul>
    <br />
    <h1>Місяці</h1>
      <ul>
        @foreach(var item in ViewBag.Month.months)
        {
            <li><p>@item</p></li>
        }
    </ul>
</body>
