﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
     <div class="container">
         <div>
            <h1>Калькулятор</h1>
        </div>
         
        <form method="post">
            <div class="inputs" action="/Home/Mul">
                <input type="text" name="firstNum"/>
                <input type="text" name="secondNum"/>
            </div>
           
            <div
                <ul class="buttons">
                    <li><input formaction="/Home/Add" type="submit" value="+"/></li>
                    <li><input formaction="/Home/Sub" type="submit" value="-"/></li>
                    <li><input formaction="/Home/Mul" type="submit" value="*"/></li>
                    <li><input formaction="/Home/Div" type="submit" value="/"/></li>
                </ul>
            </div>
        </form>

        <div class="result">
            <p>Результат: @Model</p>
        </div>
    </div>  
</body>
</html>
